<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workingman.mapper.InformationMapper">
    <update id="unbindUser">
        update informations set user_id = null where user_id=#{userId}
    </update>
    <delete id="delInformation">
        delete from informations where user_id=#{userId}
    </delete>
    <insert id="postInformation">
        insert into informations (user_id,phone,name,sex,place,tower,dorm,stu_num)
         values (#{userId},#{phone},#{name},#{sex},#{place},#{tower},#{dorm},#{stuNum})
    </insert>
    <select id="getInformation" resultType="InformationBean">
        select * from informations
        <where>
            <if test="id!=null">
                user_id=#{id}
            </if>
            <if test="phone!=null">
                and phone=#{phone}
            </if>
        </where>
    </select>
    <update id="updateInformation">
        update informations
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="place!=null">
                place=#{place},
            </if>
            <if test="tower!=null">
                tower=#{tower},
            </if>
            <if test="dorm!=null">
                dorm=#{dorm},
            </if>
            <if test="stuNum!=null">
                stu_num=#{stuNum},
            </if>
        </set>
        where phone=#{phone}
    </update>
    <update id="changePhone">
        update informations set phone=#{phone} where user_id=#{userId}
    </update>
    <select id="getInformationById" resultType="InformationBean">
        select * from informations where user_id=#{userId}
    </select>
    <update id="updateState">
        update informations set state=#{state} where user_id=#{userId}
    </update>
</mapper>